body, html {
    height: 100%;
} 
body {
    align-items: center;
    justify-content: center;
} 
.container {
    width: 100%;
    max-width: 800px;
}
.navbar-nav {
    margin-left: auto;
    max-width: 1000px;
}
.navbar-brand {
    font-weight: bold;
    color: #333;
    left: 0;
}
.nav-link.active {
    color: #6c44d9 !important;

}
.main-content {
    display: flex;
    height: 75vh;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-left: 10%;
}
.logos{
    margin-left: 15%;
    height: 25%;
    color: #6c44d9;
    margin-top: 0%;
}
.details{
    font-style: bold;
    color: hwb(0 41% 59%);
    margin-bottom: 20px;
    width: 40%; 
    margin-left: -10%;
    margin-top: 8%;
    text-align: left;
}
.details h1{
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.details span{
    color: hsl(0, 1%, 33%);
    font-size: 15px;
    font-style: bold;
    font-weight: bolder;
}
.details h5{
    text-align: left;
}
.heading{
    color: #0a0a0a;
    font-size: 35px;
    text-align: left;
    font-style: bold;
}
.details a{
    background: #6c44d9;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 70px;
    height: 50px;
    width: 30%;
}
.home__blob {
    width: 280px;
    fill: lightblue;
    position: relative;
    left: -350px; /* Adjust this value as needed */
}
.home__blob-img {
    width: 200px;
    height:300px;
}
.godownbtn{
    position: fixed;
    width: 150px;
    height: 50px;
    background-color: #fff;
}
.godownbtn a{
    background-color: #fff;
}
/*----- for about page ----------*/
.container{
    text-align: center;
}
.sub-title h1{
    margin-bottom: 20px;
    color: #111012;
}
.container h4{
    color: rgb(62, 62, 62);
}
.container p{
    color: rgb(62, 62, 62);
}
.btn.btn2{
    text-align: center;
    background: #6c44d9;
    color: #fff;
    height: 50px;
    width: 25%;
    font-size: 15px;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 42%;
    text-align: center;
}
/*-----------------for skills page------------*/
h1{
    text-align: center;
}
h6{
    text-align: center;
    color: rgb(62, 62, 62);
}
.skill {
    margin-bottom: 20px;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    margin-left: 32%;
}
.skill img {
    width: 50px;
    height: 10%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.progress-bar {
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 9px;
    width: 100%;
    text-align: center;
}
.progress {
    background-color: #6c44d9;
    color: white;
    text-align: center;
    line-height: 10px;
    border-radius: 5px;
    inline-size: 15px;
    width: 100%;
}
.percentage {
    position: absolute;
    right: 35%;
    height: 10%;
    padding: 2px 5px;
    color: #111010;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
/*-----------code for education--------*/
.timeline{
    position: relative;
    max-width: 1000px;
    margin: 100px auto;
    text-align: center;
}
h5{
    text-align: center;
}
.container-1{
    position: relative;
    width: 50%;
}
.education-logo{
    color: #6c44d9;
    text-align: center;
}
.text-box{
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.text-box h5{
    color: hwb(0 41% 59%);
}
.text-box p{
    color: hwb(0 41% 59%);
}
.left-container-1{
    left: 0%;
}
.right-container-1{
    left: 50%;
}
.container-1 svg{
    color: #6c44d9;
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 10px;
    z-index: 10;
}
.right-container-1 svg{
    left: -20px;
}
.timeline::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #080808;
}
/*-------------code for portfolio--------*/
.projects {
    color: #080808;
    padding: 50px;
    text-align: center;
    align-content: center;
} 
.carousel-inner {
    max-height: 300px; 
}
.carousel-content {
    align-items: center; 
    display: flex;
}
.carousel-image {
    left: 40%;
    width: 25%; 
    margin-right: 20px; 
    margin-left: 15%;
    margin-bottom: 30px;
}
.carousel-text {
    width: 50%; 
    text-align: center;
}
.carousel-text span{
    color:#b54769
}
.carousel-control-prev,
.carousel-control-next {
    color: #030303; /* Change to the color you desire */
}
/*----code for contact me----*/
.sub-title{
    color: #030303;
    text-align: center;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
}
.contact-1, .contact-2 {
    flex: 1;
    margin: 0 10px;
}
.contact-1{
    width: 80%;
    margin-left: -10%;
}
.contact-2{
    text-align: center;
    width: 55%;
    left: 50%;
    margin-right: 10%;
}
.contact-1 h5{
    margin-top: 30px;
    color: #6c44d9;
}
.contact-1 h5 svg{
    margin-right: 15px;
    color: #6c44d9;
    font-size: 40px;
}
.contact-1 h5 i{
    margin-right: 15px;
    color: #6c44d9;
    font-size: 20px;
}
.Icons{
    margin-top: 30px;
}
.Icons a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    display: inline-block; 
    transition: transform 0.5s;  
}
.Icons a:hover{
    color: ##6c44d9;
    transform: translateY(-5px);
}
.btn.btn3{
    background: #6c44d9;
    color: #fff;
    text-align: center;
    width: 60%;
    height: 50px;
    font-size: 13px;
}
.contact-2 form{
    width: 70%;
    margin-left: 15%;
}
form input, form textarea{
    width: 150%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    color: rgb(19, 2, 2);
    font-size: 18px;
    border-radius: 6px;
    background-color: hwb(219 86% 5%);
}
form .btn4{
    padding: 10px 40px;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #6c44d9;
    color: #fff;
    height: 50px;
    width: 40%;
    text-align: center;
    margin-left: 40%;
}
.btn.btn4{
    background: #6c44d9;
    color: #fff;
    text-align: center;
    width: 60%;
    height: 50px;
    font-size: 20px;
}
/*-----footer-----*/
.copyright{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #6c44d9;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
}
.copyright svg{
    color: #fff
}
.footer{
    color: #fff;
    text-align: left;
}
.references{
    display: flex;
}
.references a{
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
    color: #fff;
    height: 50px;
    width: 10%;
    margin-left: 20%;
}
/*---------theme-----------*/  
