* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
  
  body {
    background-color: hsl(0, 3%, 6%);
    color:hsl(0, 7%, 97%);
    text-align: center;
    border: 25px solid rgb(75, 17, 67);
    border-radius: 15px;
    border-style: groove;
}
nav {
    background-color: hsl(0, 5%, 96%); 
    justify-content: space-between;
    align-content: center;
    width: 100%;
}
nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block; 
}
nav li a {
    display: block;
    color: #0f0e0e; 
    text-decoration: none; 
    padding: 10px 20px; 
    transition: 0.5s;
}
nav li a:hover {
    background-color: hsl(0, 75%, 48%);
}
.nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure it's above other content */
}
.main-content {
    display: flex;
    height: 75vh;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #000;
}

.details {
    font-size: larger;
    font-style: italic;
    color: hsl(0, 6%, 97%);
    margin-bottom: 20px;
    width: 50%; 
    margin-left: 7%;
    margin-top: 6%;
}
.details h1{
    font-size: 50px;
    font-style: bold, initial;
}
.details a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #022c02;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.details span{
    color: blue;
}
.images {
    width: 45%; 
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    border-radius: 10%;
    height: 70%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: left 2s ease;
}
/*----- for about page ----------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    font-style: italic;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: blue;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    color: blue;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    text-align: left;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*----------------------contact------------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    text-align: right;
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p svg{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.Icons{
    margin-top: 30px;
}
.Icons a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    display: inline-block; 
    transition: transform 0.5s;  
}
.Icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 10px 40px;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    text-align: center;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright svg{
    color: #ff004f;
}
/*---------------- css for small screen---------------*/
@media (max-width: 768px) {
    .images {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .images {
        width: 100%;
    }
}
